@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Wiki</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Music Wiki</h2>
        <p>
            Music Wiki is a page that allows you to find, or add information about your favorite musical artists. Create an account 
            to add to, or edit existing information.  The more you add the more points you will gain!  You can check our Leaderboard
            to see where you end up.
        </p>
    </div>
    </div>
   